### Year 0 Topology Analysis

In [1]:
import pandas as pd

##### Area Totals - Year 0 Topology

In [2]:
data_tot = pd.read_csv('savnw_tot.csv')
data_tot

,Area,Number,From Generation,To Load,To(+)/From(-) Ties,To Losses
0,FLAPCO,1,1288,1021,251,15
1,LIGHTCO,2,1199,1277,-98,21
2,WORLD,5,276,425,-152,4

##### Total generation and Load

In [3]:
total_gen = data_tot['From Generation'].sum()
total_gen

2763

In [4]:
total_load = data_tot['To Load'].sum()
total_load

2723

##### Breakdown of Generation in each areas

In [5]:
data_gen = pd.read_csv('gen_sav.csv', header=1, skiprows=0)
data_gen

   Number                Name  Area    Pgen    Pmax  Reserve
0     101        NUC-A            1  588.59  810.00   221.41
1     102        NUC-B            1  700.00  810.00   110.00
2     206        URBGEN           2  699.84  900.00   200.16
3     211        HYDRO_G          2  500.00  616.25   116.25
4    3011        MINE_G           5  186.88  900.00   713.12
5    3018        CATDOG_G         5   90.00  117.00    27.00

##### Installed Capacity

In [6]:
total_capacity = data_gen['Pmax'].sum()
total_capacity

4153.25

##### Percentage Loading in Branches 

Calculation related can be found in PSSE PAGVI Manual Chapter 6 Power system network simulations - Section 6.6.7 Activity Rate 

%I = MVA(actual)/(MVA(rated)*Vpu)

Vpu -> Bus Voltage at from end

In [7]:
data_load = pd.read_csv('loading_savnw.csv', header=1, skiprows=0)

In [8]:
data_load[data_load['From Bus']!=data_load['Non Metered Bus']].shape

(34, 15)

In [9]:
data_fil = data_load[data_load['From Bus']!=data_load['Non Metered Bus']].reset_index(drop=True)

In [10]:
data_fil['From Bus V'] = data_fil['From Bus Ext'].str.extract(r'(\d+\.\d+)') 
data_fil['To Bus V'] = data_fil['To Bus Ext'].str.extract(r'(\d+\.\d+)')

##### Checking transformer loading greater than 80%

In [11]:
transformer_loading = data_fil[data_fil['From Bus V']!=data_fil['To Bus V']].reset_index(drop=True)
transformer_loading[transformer_loading['%MVA'] > 80.0]

Empty DataFrame
Columns: [From Bus, From Bus Ext, To Bus, To Bus Ext, Ckt ID, Non Metered Bus,  Branch I, Branch Flow MW, Branch Flow MVAR, Branch MVA, MW Loss, MVAR Loss, Rate, %I, %MVA, From Bus V, To Bus V]
Index: []

##### Checking branch loading greater than 80%

In [12]:
branch_loading = data_fil[data_fil['From Bus V'] == data_fil['To Bus V']].reset_index(drop=True)
branch_loading[branch_loading['%I'] > 80.0]

Empty DataFrame
Columns: [From Bus, From Bus Ext, To Bus, To Bus Ext, Ckt ID, Non Metered Bus,  Branch I, Branch Flow MW, Branch Flow MVAR, Branch MVA, MW Loss, MVAR Loss, Rate, %I, %MVA, From Bus V, To Bus V]
Index: []

##### Voltage Upper Limits

In [17]:
data_volt = pd.read_csv('savnw_volt.csv', header=1, skiprows=0)
data_volt[data_volt['Bus Voltage(PU)']>1.05]

,Bus Number,Bus Name,Area,Base Voltage,Bus Voltage(PU),Bus Voltage(kV)
6,201,HYDRO,2,500.0,1.058,528.829
22,3018,CATDOG_G,5,13.8,1.057,14.589

##### Voltage Lower Limits

In [18]:
data_volt[data_volt['Bus Voltage(PU)']<0.95]

Empty DataFrame
Columns: [Bus Number, Bus Name, Area, Base Voltage, Bus Voltage(PU), Bus Voltage(kV)]
Index: []