
### Year 3 Topology 4 System Totals

In [1]:
import pandas as pd

In [2]:
def area_select(area_name):
    '''
    function to select area data by area name
    '''
    list_area = []
    list_gens = [0,50,100]
    list_lsc = ['LLS','RLS','HLS']
    list_gen_hydro = [400,500,600] #dry, average, wet hydological scenarios
    for gen in list_gens:
        for gen_hy in list_gen_hydro:
            for lsc in list_lsc:
                file_csv_in = 'savnw_sol_' + str(gen) +'_hy_' +str(gen_hy) +'_' + str(lsc)+'_tot.csv'
                data_tot = pd.read_csv(file_csv_in)
                data_tot['Scenario'] = 'Solar = ' + str(gen) + ' MW, ' + 'Hydro = ' + str(gen_hy) + ' MW, '+ lsc.upper()
                data_area = data_tot[data_tot['Area'].str.strip() == area_name]
                list_area.append(data_area)
    df_area = pd.concat(list_area)
    df = df_area[['Scenario','Area', 'Number', 'From Generation', 'To Load', 'To(+)/From(-) Ties',
           'To Losses']].reset_index(drop=True)
    return df

##### Area Selection

Filtering out totals for each scenarios by area

In [3]:
area_select('FLAPCO')

,Scenario,Area,Number,From Generation,To Load,To(+)/From(-) Ties,To Losses
0,"Solar = 0 MW, Hydro = 400 MW, LLS",FLAPCO,1,1381,1113,249,18
1,"Solar = 0 MW, Hydro = 400 MW, RLS",FLAPCO,1,1444,1174,250,19
2,"Solar = 0 MW, Hydro = 400 MW, HLS",FLAPCO,1,1495,1223,251,20
3,"Solar = 0 MW, Hydro = 500 MW, LLS",FLAPCO,1,1382,1113,249,20
4,"Solar = 0 MW, Hydro = 500 MW, RLS",FLAPCO,1,1446,1174,250,21
5,"Solar = 0 MW, Hydro = 500 MW, HLS",FLAPCO,1,1496,1223,250,22
6,"Solar = 0 MW, Hydro = 600 MW, LLS",FLAPCO,1,1385,1113,249,22
7,"Solar = 0 MW, Hydro = 600 MW, RLS",FLAPCO,1,1448,1174,250,23
8,"Solar = 0 MW, Hydro = 600 MW, HLS",FLAPCO,1,1498,1223,249,24
9,"Solar = 50 MW, Hydro = 400 MW, LLS",FLAPCO,1,1380,1113,249,17
10,"Solar = 50 MW, Hydro = 400 MW, RLS",FLAPCO,1,1443,1174,250,18
11,"Solar = 50 MW, Hydro = 400 MW, HLS",FLAPCO,1,1494,1223,251,19
12,"Solar = 50 MW, Hydro = 500 MW, LLS",FLAPCO,1,1381,1113,249,18
13,"Solar = 50 MW, Hydro = 500 MW, RLS",FLAPCO,1,1444,1174,250,20
14,"Solar = 50 MW, Hydro = 500 MW, HLS",FLAPCO,1,1495,1223,251,21
15,"Solar = 50 MW, Hydro = 600 MW, LLS",FLAPCO,1,1383,1113,249,20
16,"Solar = 50 MW, Hydro = 600 MW, RLS",FLAPCO,1,1447,1174,250,22
17,"Solar = 50 MW, Hydro = 600 MW, HLS",FLAPCO,1,1497,1223,250,23
18,"Solar = 100 MW, Hydro = 400 MW, LLS",FLAPCO,1,1379,1113,249,16
19,"Solar = 100 MW, Hydro = 400 MW, RLS",FLAPCO,1,1441,1174,250,17
20,"Solar = 100 MW, Hydro = 400 MW, HLS",FLAPCO,1,1492,1223,251,18
21,"Solar = 100 MW, Hydro = 500 MW, LLS",FLAPCO,1,1380,1113,249,17
22,"Solar = 100 MW, Hydro = 500 MW, RLS",FLAPCO,1,1443,1174,250,19
23,"Solar = 100 MW, Hydro = 500 MW, HLS",FLAPCO,1,1494,1223,251,20
24,"Solar = 100 MW, Hydro = 600 MW, LLS",FLAPCO,1,1382,1113,249,19
25,"Solar = 100 MW, Hydro = 600 MW, RLS",FLAPCO,1,1445,1174,250,21
26,"Solar = 100 MW, Hydro = 600 MW, HLS",FLAPCO,1,1495,1223,250,22

In [4]:
area_select('LIGHTCO')

,Scenario,Area,Number,From Generation,To Load,To(+)/From(-) Ties,To Losses
0,"Solar = 0 MW, Hydro = 400 MW, LLS",LIGHTCO,2,1321,1391,-99,29
1,"Solar = 0 MW, Hydro = 400 MW, RLS",LIGHTCO,2,1399,1468,-100,31
2,"Solar = 0 MW, Hydro = 400 MW, HLS",LIGHTCO,2,1461,1529,-100,33
3,"Solar = 0 MW, Hydro = 500 MW, LLS",LIGHTCO,2,1327,1391,-100,35
4,"Solar = 0 MW, Hydro = 500 MW, RLS",LIGHTCO,2,1405,1468,-99,37
5,"Solar = 0 MW, Hydro = 500 MW, HLS",LIGHTCO,2,1468,1529,-99,39
6,"Solar = 0 MW, Hydro = 600 MW, LLS",LIGHTCO,2,1334,1391,-100,43
7,"Solar = 0 MW, Hydro = 600 MW, RLS",LIGHTCO,2,1413,1468,-99,45
8,"Solar = 0 MW, Hydro = 600 MW, HLS",LIGHTCO,2,1478,1529,-98,48
9,"Solar = 50 MW, Hydro = 400 MW, LLS",LIGHTCO,2,1319,1391,-99,28
10,"Solar = 50 MW, Hydro = 400 MW, RLS",LIGHTCO,2,1398,1468,-100,29
11,"Solar = 50 MW, Hydro = 400 MW, HLS",LIGHTCO,2,1460,1529,-100,31
12,"Solar = 50 MW, Hydro = 500 MW, LLS",LIGHTCO,2,1325,1391,-100,34
13,"Solar = 50 MW, Hydro = 500 MW, RLS",LIGHTCO,2,1404,1468,-99,36
14,"Solar = 50 MW, Hydro = 500 MW, HLS",LIGHTCO,2,1466,1529,-101,38
15,"Solar = 50 MW, Hydro = 600 MW, LLS",LIGHTCO,2,1333,1391,-100,41
16,"Solar = 50 MW, Hydro = 600 MW, RLS",LIGHTCO,2,1412,1468,-99,43
17,"Solar = 50 MW, Hydro = 600 MW, HLS",LIGHTCO,2,1476,1529,-98,46
18,"Solar = 100 MW, Hydro = 400 MW, LLS",LIGHTCO,2,1318,1391,-99,26
19,"Solar = 100 MW, Hydro = 400 MW, RLS",LIGHTCO,2,1396,1468,-100,28
20,"Solar = 100 MW, Hydro = 400 MW, HLS",LIGHTCO,2,1458,1529,-100,30
21,"Solar = 100 MW, Hydro = 500 MW, LLS",LIGHTCO,2,1324,1391,-100,32
22,"Solar = 100 MW, Hydro = 500 MW, RLS",LIGHTCO,2,1403,1468,-99,34
23,"Solar = 100 MW, Hydro = 500 MW, HLS",LIGHTCO,2,1464,1529,-100,36
24,"Solar = 100 MW, Hydro = 600 MW, LLS",LIGHTCO,2,1331,1391,-100,40
25,"Solar = 100 MW, Hydro = 600 MW, RLS",LIGHTCO,2,1410,1468,-99,42
26,"Solar = 100 MW, Hydro = 600 MW, HLS",LIGHTCO,2,1474,1529,-99,44

In [5]:
area_select('WORLD')

,Scenario,Area,Number,From Generation,To Load,To(+)/From(-) Ties,To Losses
0,"Solar = 0 MW, Hydro = 400 MW, LLS",WORLD,5,318,463,-149,3
1,"Solar = 0 MW, Hydro = 400 MW, RLS",WORLD,5,343,489,-150,4
2,"Solar = 0 MW, Hydro = 400 MW, HLS",WORLD,5,364,509,-150,4
3,"Solar = 0 MW, Hydro = 500 MW, LLS",WORLD,5,318,463,-149,4
4,"Solar = 0 MW, Hydro = 500 MW, RLS",WORLD,5,343,489,-150,4
5,"Solar = 0 MW, Hydro = 500 MW, HLS",WORLD,5,364,509,-150,5
6,"Solar = 0 MW, Hydro = 600 MW, LLS",WORLD,5,319,463,-149,4
7,"Solar = 0 MW, Hydro = 600 MW, RLS",WORLD,5,343,489,-150,5
8,"Solar = 0 MW, Hydro = 600 MW, HLS",WORLD,5,364,509,-151,5
9,"Solar = 50 MW, Hydro = 400 MW, LLS",WORLD,5,317,463,-149,3
10,"Solar = 50 MW, Hydro = 400 MW, RLS",WORLD,5,343,489,-150,4
11,"Solar = 50 MW, Hydro = 400 MW, HLS",WORLD,5,364,509,-150,4
12,"Solar = 50 MW, Hydro = 500 MW, LLS",WORLD,5,318,463,-149,4
13,"Solar = 50 MW, Hydro = 500 MW, RLS",WORLD,5,343,489,-150,4
14,"Solar = 50 MW, Hydro = 500 MW, HLS",WORLD,5,364,509,-150,4
15,"Solar = 50 MW, Hydro = 600 MW, LLS",WORLD,5,319,463,-149,4
16,"Solar = 50 MW, Hydro = 600 MW, RLS",WORLD,5,343,489,-150,4
17,"Solar = 50 MW, Hydro = 600 MW, HLS",WORLD,5,364,509,-151,5
18,"Solar = 100 MW, Hydro = 400 MW, LLS",WORLD,5,317,463,-149,3
19,"Solar = 100 MW, Hydro = 400 MW, RLS",WORLD,5,343,489,-150,4
20,"Solar = 100 MW, Hydro = 400 MW, HLS",WORLD,5,363,509,-150,4
21,"Solar = 100 MW, Hydro = 500 MW, LLS",WORLD,5,318,463,-149,3
22,"Solar = 100 MW, Hydro = 500 MW, RLS",WORLD,5,343,489,-150,4
23,"Solar = 100 MW, Hydro = 500 MW, HLS",WORLD,5,364,509,-150,4
24,"Solar = 100 MW, Hydro = 600 MW, LLS",WORLD,5,319,463,-149,4
25,"Solar = 100 MW, Hydro = 600 MW, RLS",WORLD,5,343,489,-150,4
26,"Solar = 100 MW, Hydro = 600 MW, HLS",WORLD,5,363,509,-151,5

##### Total generation and Load

In [6]:
list_scenario = []
list_gen = []
list_load = []
list_gens = [0,50,100]
list_lsc = ['LLS','RLS','HLS']
list_gen_hydro = [400,500,600] #dry, average, wet hydological scenarios
for gen in list_gens:
    for gen_hy in list_gen_hydro:
        for lsc in list_lsc:
            file_csv_out = 'savnw_sol_' + str(gen) +'_hy_' +str(gen_hy) +'_' + str(lsc)+'_tot.csv'
            data_tot = pd.read_csv(file_csv_out)
            data_gen_load = pd.DataFrame()
            scenario = 'Solar = ' + str(gen) + ' MW, ' + 'Hydro = ' + str(gen_hy) + ' MW, '+ lsc.upper()
            list_scenario.append(scenario)
            generation = data_tot['From Generation'].sum()
            list_gen.append(generation)
            load = data_tot['To Load'].sum()
            list_load.append(load)
gen_load_dict = {'Scenario':list_scenario, 
                 'Generation':list_gen,
                 'Load':list_load}
data_gen_load = pd.DataFrame(data=gen_load_dict)
data_gen_load

                               Scenario  Generation  Load
0     Solar = 0 MW, Hydro = 400 MW, LLS        3020  2967
1     Solar = 0 MW, Hydro = 400 MW, RLS        3186  3131
2     Solar = 0 MW, Hydro = 400 MW, HLS        3320  3261
3     Solar = 0 MW, Hydro = 500 MW, LLS        3027  2967
4     Solar = 0 MW, Hydro = 500 MW, RLS        3194  3131
5     Solar = 0 MW, Hydro = 500 MW, HLS        3328  3261
6     Solar = 0 MW, Hydro = 600 MW, LLS        3038  2967
7     Solar = 0 MW, Hydro = 600 MW, RLS        3204  3131
8     Solar = 0 MW, Hydro = 600 MW, HLS        3340  3261
9    Solar = 50 MW, Hydro = 400 MW, LLS        3016  2967
10   Solar = 50 MW, Hydro = 400 MW, RLS        3184  3131
11   Solar = 50 MW, Hydro = 400 MW, HLS        3318  3261
12   Solar = 50 MW, Hydro = 500 MW, LLS        3024  2967
13   Solar = 50 MW, Hydro = 500 MW, RLS        3191  3131
14   Solar = 50 MW, Hydro = 500 MW, HLS        3325  3261
15   Solar = 50 MW, Hydro = 600 MW, LLS        3035  2967
16   Solar = 50 MW, Hydro = 600 MW, RLS        3202  3131
17   Solar = 50 MW, Hydro = 600 MW, HLS        3337  3261
18  Solar = 100 MW, Hydro = 400 MW, LLS        3014  2967
19  Solar = 100 MW, Hydro = 400 MW, RLS        3180  3131
20  Solar = 100 MW, Hydro = 400 MW, HLS        3313  3261
21  Solar = 100 MW, Hydro = 500 MW, LLS        3022  2967
22  Solar = 100 MW, Hydro = 500 MW, RLS        3189  3131
23  Solar = 100 MW, Hydro = 500 MW, HLS        3322  3261
24  Solar = 100 MW, Hydro = 600 MW, LLS        3032  2967
25  Solar = 100 MW, Hydro = 600 MW, RLS        3198  3131
26  Solar = 100 MW, Hydro = 600 MW, HLS        3332  3261

##### Breakdown of generation of each generators

The generators in the hypothetical SAVNW system are 'NUC-A', 'NUC-B', 'SOLAR_PV', 'URBGEN', 'HYDRO_G', 'MINE_G', 'CATDOG_G'. The generators NUC-A, URBGEN and MINE_G are the swing buses of areas 1, 2, 5 respectively. The contribution of each of the generators to considered load scenarios are obtained.

In [7]:
def gen_contribution(name):
    '''
    Function to separate contribution of each generators to meet the demand in 
    various solar outputs and load scenarios
    '''
    list_gen = []
    list_gens = [0,50,100]
    list_lsc = ['LLS','RLS','HLS']
    list_gen_hydro = [400,500,600] #dry, average, wet hydological scenarios
    for gen in list_gens:
        for gen_hy in list_gen_hydro:
            for lsc in list_lsc:
                file_csv_out = 'savnw_sol_' + str(gen) +'_hy_' +str(gen_hy) +'_' + str(lsc)+'_gen.csv'
                data_gen = pd.read_csv(file_csv_out, header=1, skiprows=0)
                data_gen['Scenario'] = 'Solar = ' + str(gen) + ' MW, ' + 'Hydro = ' + str(gen_hy) + ' MW, '+ lsc.upper()
                data_new = data_gen[(data_gen['Name'].str.strip()) == name]
                list_gen.append(data_new)
            
    df_area = pd.concat(list_gen)
    df = df_area[['Scenario','Number', 'Name', 'Area', 'Pgen', 'Pmax', 'Reserve']].reset_index(drop=True)
    return df

In [8]:
gen_contribution('NUC-A')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, Hydro = 400 MW, LLS",101,NUC-A,1,681.11,810.0,128.89
1,"Solar = 0 MW, Hydro = 400 MW, RLS",101,NUC-A,1,744.13,810.0,65.87
2,"Solar = 0 MW, Hydro = 400 MW, HLS",101,NUC-A,1,795.13,810.0,14.87
3,"Solar = 0 MW, Hydro = 500 MW, LLS",101,NUC-A,1,682.99,810.0,127.01
4,"Solar = 0 MW, Hydro = 500 MW, RLS",101,NUC-A,1,746.16,810.0,63.84
5,"Solar = 0 MW, Hydro = 500 MW, HLS",101,NUC-A,1,796.24,810.0,13.76
6,"Solar = 0 MW, Hydro = 600 MW, LLS",101,NUC-A,1,685.03,810.0,124.97
7,"Solar = 0 MW, Hydro = 600 MW, RLS",101,NUC-A,1,748.35,810.0,61.65
8,"Solar = 0 MW, Hydro = 600 MW, HLS",101,NUC-A,1,798.35,810.0,11.65
9,"Solar = 50 MW, Hydro = 400 MW, LLS",101,NUC-A,1,630.08,810.0,179.92
10,"Solar = 50 MW, Hydro = 400 MW, RLS",101,NUC-A,1,693.02,810.0,116.98
11,"Solar = 50 MW, Hydro = 400 MW, HLS",101,NUC-A,1,744.02,810.0,65.98
12,"Solar = 50 MW, Hydro = 500 MW, LLS",101,NUC-A,1,631.90,810.0,178.10
13,"Solar = 50 MW, Hydro = 500 MW, RLS",101,NUC-A,1,694.99,810.0,115.01
14,"Solar = 50 MW, Hydro = 500 MW, HLS",101,NUC-A,1,745.94,810.0,64.06
15,"Solar = 50 MW, Hydro = 600 MW, LLS",101,NUC-A,1,633.86,810.0,176.14
16,"Solar = 50 MW, Hydro = 600 MW, RLS",101,NUC-A,1,697.11,810.0,112.89
17,"Solar = 50 MW, Hydro = 600 MW, HLS",101,NUC-A,1,747.11,810.0,62.89
18,"Solar = 100 MW, Hydro = 400 MW, LLS",101,NUC-A,1,579.10,810.0,230.90
19,"Solar = 100 MW, Hydro = 400 MW, RLS",101,NUC-A,1,641.96,810.0,168.04
20,"Solar = 100 MW, Hydro = 400 MW, HLS",101,NUC-A,1,692.96,810.0,117.04
21,"Solar = 100 MW, Hydro = 500 MW, LLS",101,NUC-A,1,580.86,810.0,229.14
22,"Solar = 100 MW, Hydro = 500 MW, RLS",101,NUC-A,1,643.87,810.0,166.13
23,"Solar = 100 MW, Hydro = 500 MW, HLS",101,NUC-A,1,694.82,810.0,115.18
24,"Solar = 100 MW, Hydro = 600 MW, LLS",101,NUC-A,1,582.76,810.0,227.24
25,"Solar = 100 MW, Hydro = 600 MW, RLS",101,NUC-A,1,645.92,810.0,164.08
26,"Solar = 100 MW, Hydro = 600 MW, HLS",101,NUC-A,1,695.95,810.0,114.05

In [9]:
gen_contribution('NUC-B')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, Hydro = 400 MW, LLS",102,NUC-B,1,700.0,810.0,110.0
1,"Solar = 0 MW, Hydro = 400 MW, RLS",102,NUC-B,1,700.0,810.0,110.0
2,"Solar = 0 MW, Hydro = 400 MW, HLS",102,NUC-B,1,700.0,810.0,110.0
3,"Solar = 0 MW, Hydro = 500 MW, LLS",102,NUC-B,1,700.0,810.0,110.0
4,"Solar = 0 MW, Hydro = 500 MW, RLS",102,NUC-B,1,700.0,810.0,110.0
5,"Solar = 0 MW, Hydro = 500 MW, HLS",102,NUC-B,1,700.0,810.0,110.0
6,"Solar = 0 MW, Hydro = 600 MW, LLS",102,NUC-B,1,700.0,810.0,110.0
7,"Solar = 0 MW, Hydro = 600 MW, RLS",102,NUC-B,1,700.0,810.0,110.0
8,"Solar = 0 MW, Hydro = 600 MW, HLS",102,NUC-B,1,700.0,810.0,110.0
9,"Solar = 50 MW, Hydro = 400 MW, LLS",102,NUC-B,1,700.0,810.0,110.0
10,"Solar = 50 MW, Hydro = 400 MW, RLS",102,NUC-B,1,700.0,810.0,110.0
11,"Solar = 50 MW, Hydro = 400 MW, HLS",102,NUC-B,1,700.0,810.0,110.0
12,"Solar = 50 MW, Hydro = 500 MW, LLS",102,NUC-B,1,700.0,810.0,110.0
13,"Solar = 50 MW, Hydro = 500 MW, RLS",102,NUC-B,1,700.0,810.0,110.0
14,"Solar = 50 MW, Hydro = 500 MW, HLS",102,NUC-B,1,700.0,810.0,110.0
15,"Solar = 50 MW, Hydro = 600 MW, LLS",102,NUC-B,1,700.0,810.0,110.0
16,"Solar = 50 MW, Hydro = 600 MW, RLS",102,NUC-B,1,700.0,810.0,110.0
17,"Solar = 50 MW, Hydro = 600 MW, HLS",102,NUC-B,1,700.0,810.0,110.0
18,"Solar = 100 MW, Hydro = 400 MW, LLS",102,NUC-B,1,700.0,810.0,110.0
19,"Solar = 100 MW, Hydro = 400 MW, RLS",102,NUC-B,1,700.0,810.0,110.0
20,"Solar = 100 MW, Hydro = 400 MW, HLS",102,NUC-B,1,700.0,810.0,110.0
21,"Solar = 100 MW, Hydro = 500 MW, LLS",102,NUC-B,1,700.0,810.0,110.0
22,"Solar = 100 MW, Hydro = 500 MW, RLS",102,NUC-B,1,700.0,810.0,110.0
23,"Solar = 100 MW, Hydro = 500 MW, HLS",102,NUC-B,1,700.0,810.0,110.0
24,"Solar = 100 MW, Hydro = 600 MW, LLS",102,NUC-B,1,700.0,810.0,110.0
25,"Solar = 100 MW, Hydro = 600 MW, RLS",102,NUC-B,1,700.0,810.0,110.0
26,"Solar = 100 MW, Hydro = 600 MW, HLS",102,NUC-B,1,700.0,810.0,110.0

The reserve capacity obtained with solar power plant is not dependable capacity, and hence wont contribute to firm capacity of the system.

In [10]:
gen_contribution('SOLAR_PV')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, Hydro = 400 MW, LLS",103,SOLAR_PV,1,0.0,117.0,117.0
1,"Solar = 0 MW, Hydro = 400 MW, RLS",103,SOLAR_PV,1,0.0,117.0,117.0
2,"Solar = 0 MW, Hydro = 400 MW, HLS",103,SOLAR_PV,1,0.0,117.0,117.0
3,"Solar = 0 MW, Hydro = 500 MW, LLS",103,SOLAR_PV,1,0.0,117.0,117.0
4,"Solar = 0 MW, Hydro = 500 MW, RLS",103,SOLAR_PV,1,0.0,117.0,117.0
5,"Solar = 0 MW, Hydro = 500 MW, HLS",103,SOLAR_PV,1,0.0,117.0,117.0
6,"Solar = 0 MW, Hydro = 600 MW, LLS",103,SOLAR_PV,1,0.0,117.0,117.0
7,"Solar = 0 MW, Hydro = 600 MW, RLS",103,SOLAR_PV,1,0.0,117.0,117.0
8,"Solar = 0 MW, Hydro = 600 MW, HLS",103,SOLAR_PV,1,0.0,117.0,117.0
9,"Solar = 50 MW, Hydro = 400 MW, LLS",103,SOLAR_PV,1,50.0,117.0,67.0
10,"Solar = 50 MW, Hydro = 400 MW, RLS",103,SOLAR_PV,1,50.0,117.0,67.0
11,"Solar = 50 MW, Hydro = 400 MW, HLS",103,SOLAR_PV,1,50.0,117.0,67.0
12,"Solar = 50 MW, Hydro = 500 MW, LLS",103,SOLAR_PV,1,50.0,117.0,67.0
13,"Solar = 50 MW, Hydro = 500 MW, RLS",103,SOLAR_PV,1,50.0,117.0,67.0
14,"Solar = 50 MW, Hydro = 500 MW, HLS",103,SOLAR_PV,1,50.0,117.0,67.0
15,"Solar = 50 MW, Hydro = 600 MW, LLS",103,SOLAR_PV,1,50.0,117.0,67.0
16,"Solar = 50 MW, Hydro = 600 MW, RLS",103,SOLAR_PV,1,50.0,117.0,67.0
17,"Solar = 50 MW, Hydro = 600 MW, HLS",103,SOLAR_PV,1,50.0,117.0,67.0
18,"Solar = 100 MW, Hydro = 400 MW, LLS",103,SOLAR_PV,1,100.0,117.0,17.0
19,"Solar = 100 MW, Hydro = 400 MW, RLS",103,SOLAR_PV,1,100.0,117.0,17.0
20,"Solar = 100 MW, Hydro = 400 MW, HLS",103,SOLAR_PV,1,100.0,117.0,17.0
21,"Solar = 100 MW, Hydro = 500 MW, LLS",103,SOLAR_PV,1,100.0,117.0,17.0
22,"Solar = 100 MW, Hydro = 500 MW, RLS",103,SOLAR_PV,1,100.0,117.0,17.0
23,"Solar = 100 MW, Hydro = 500 MW, HLS",103,SOLAR_PV,1,100.0,117.0,17.0
24,"Solar = 100 MW, Hydro = 600 MW, LLS",103,SOLAR_PV,1,100.0,117.0,17.0
25,"Solar = 100 MW, Hydro = 600 MW, RLS",103,SOLAR_PV,1,100.0,117.0,17.0
26,"Solar = 100 MW, Hydro = 600 MW, HLS",103,SOLAR_PV,1,100.0,117.0,17.0

In [11]:
gen_contribution('URBGEN')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, Hydro = 400 MW, LLS",206,URBGEN,2,521.13,900.0,378.87
1,"Solar = 0 MW, Hydro = 400 MW, RLS",206,URBGEN,2,599.41,900.0,300.59
2,"Solar = 0 MW, Hydro = 400 MW, HLS",206,URBGEN,2,661.37,900.0,238.63
3,"Solar = 0 MW, Hydro = 500 MW, LLS",206,URBGEN,2,327.19,900.0,572.81
4,"Solar = 0 MW, Hydro = 500 MW, RLS",206,URBGEN,2,405.98,900.0,494.02
5,"Solar = 0 MW, Hydro = 500 MW, HLS",206,URBGEN,2,469.00,900.0,431.00
6,"Solar = 0 MW, Hydro = 600 MW, LLS",206,URBGEN,2,134.59,900.0,765.41
7,"Solar = 0 MW, Hydro = 600 MW, RLS",206,URBGEN,2,213.92,900.0,686.08
8,"Solar = 0 MW, Hydro = 600 MW, HLS",206,URBGEN,2,278.70,900.0,621.30
9,"Solar = 50 MW, Hydro = 400 MW, LLS",206,URBGEN,2,519.84,900.0,380.16
10,"Solar = 50 MW, Hydro = 400 MW, RLS",206,URBGEN,2,598.06,900.0,301.94
11,"Solar = 50 MW, Hydro = 400 MW, HLS",206,URBGEN,2,660.00,900.0,240.00
12,"Solar = 50 MW, Hydro = 500 MW, LLS",206,URBGEN,2,325.79,900.0,574.21
13,"Solar = 50 MW, Hydro = 500 MW, RLS",206,URBGEN,2,404.52,900.0,495.48
14,"Solar = 50 MW, Hydro = 500 MW, HLS",206,URBGEN,2,466.33,900.0,433.67
15,"Solar = 50 MW, Hydro = 600 MW, LLS",206,URBGEN,2,133.06,900.0,766.94
16,"Solar = 50 MW, Hydro = 600 MW, RLS",206,URBGEN,2,212.33,900.0,687.67
17,"Solar = 50 MW, Hydro = 600 MW, HLS",206,URBGEN,2,276.67,900.0,623.33
18,"Solar = 100 MW, Hydro = 400 MW, LLS",206,URBGEN,2,518.61,900.0,381.39
19,"Solar = 100 MW, Hydro = 400 MW, RLS",206,URBGEN,2,596.78,900.0,303.22
20,"Solar = 100 MW, Hydro = 400 MW, HLS",206,URBGEN,2,658.70,900.0,241.30
21,"Solar = 100 MW, Hydro = 500 MW, LLS",206,URBGEN,2,324.45,900.0,575.55
22,"Solar = 100 MW, Hydro = 500 MW, RLS",206,URBGEN,2,403.12,900.0,496.88
23,"Solar = 100 MW, Hydro = 500 MW, HLS",206,URBGEN,2,464.91,900.0,435.09
24,"Solar = 100 MW, Hydro = 600 MW, LLS",206,URBGEN,2,131.60,900.0,768.40
25,"Solar = 100 MW, Hydro = 600 MW, RLS",206,URBGEN,2,210.81,900.0,689.19
26,"Solar = 100 MW, Hydro = 600 MW, HLS",206,URBGEN,2,274.80,900.0,625.20

In [12]:
gen_contribution('HYDRO_G')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, Hydro = 400 MW, LLS",211,HYDRO_G,2,400.0,616.25,216.25
1,"Solar = 0 MW, Hydro = 400 MW, RLS",211,HYDRO_G,2,400.0,616.25,216.25
2,"Solar = 0 MW, Hydro = 400 MW, HLS",211,HYDRO_G,2,400.0,616.25,216.25
3,"Solar = 0 MW, Hydro = 500 MW, LLS",211,HYDRO_G,2,500.0,616.25,116.25
4,"Solar = 0 MW, Hydro = 500 MW, RLS",211,HYDRO_G,2,500.0,616.25,116.25
5,"Solar = 0 MW, Hydro = 500 MW, HLS",211,HYDRO_G,2,500.0,616.25,116.25
6,"Solar = 0 MW, Hydro = 600 MW, LLS",211,HYDRO_G,2,600.0,616.25,16.25
7,"Solar = 0 MW, Hydro = 600 MW, RLS",211,HYDRO_G,2,600.0,616.25,16.25
8,"Solar = 0 MW, Hydro = 600 MW, HLS",211,HYDRO_G,2,600.0,616.25,16.25
9,"Solar = 50 MW, Hydro = 400 MW, LLS",211,HYDRO_G,2,400.0,616.25,216.25
10,"Solar = 50 MW, Hydro = 400 MW, RLS",211,HYDRO_G,2,400.0,616.25,216.25
11,"Solar = 50 MW, Hydro = 400 MW, HLS",211,HYDRO_G,2,400.0,616.25,216.25
12,"Solar = 50 MW, Hydro = 500 MW, LLS",211,HYDRO_G,2,500.0,616.25,116.25
13,"Solar = 50 MW, Hydro = 500 MW, RLS",211,HYDRO_G,2,500.0,616.25,116.25
14,"Solar = 50 MW, Hydro = 500 MW, HLS",211,HYDRO_G,2,500.0,616.25,116.25
15,"Solar = 50 MW, Hydro = 600 MW, LLS",211,HYDRO_G,2,600.0,616.25,16.25
16,"Solar = 50 MW, Hydro = 600 MW, RLS",211,HYDRO_G,2,600.0,616.25,16.25
17,"Solar = 50 MW, Hydro = 600 MW, HLS",211,HYDRO_G,2,600.0,616.25,16.25
18,"Solar = 100 MW, Hydro = 400 MW, LLS",211,HYDRO_G,2,400.0,616.25,216.25
19,"Solar = 100 MW, Hydro = 400 MW, RLS",211,HYDRO_G,2,400.0,616.25,216.25
20,"Solar = 100 MW, Hydro = 400 MW, HLS",211,HYDRO_G,2,400.0,616.25,216.25
21,"Solar = 100 MW, Hydro = 500 MW, LLS",211,HYDRO_G,2,500.0,616.25,116.25
22,"Solar = 100 MW, Hydro = 500 MW, RLS",211,HYDRO_G,2,500.0,616.25,116.25
23,"Solar = 100 MW, Hydro = 500 MW, HLS",211,HYDRO_G,2,500.0,616.25,116.25
24,"Solar = 100 MW, Hydro = 600 MW, LLS",211,HYDRO_G,2,600.0,616.25,16.25
25,"Solar = 100 MW, Hydro = 600 MW, RLS",211,HYDRO_G,2,600.0,616.25,16.25
26,"Solar = 100 MW, Hydro = 600 MW, HLS",211,HYDRO_G,2,600.0,616.25,16.25

In [13]:
gen_contribution('MINE_G')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, Hydro = 400 MW, LLS",3011,MINE_G,5,228.01,900.0,671.99
1,"Solar = 0 MW, Hydro = 400 MW, RLS",3011,MINE_G,5,253.48,900.0,646.52
2,"Solar = 0 MW, Hydro = 400 MW, HLS",3011,MINE_G,5,274.25,900.0,625.75
3,"Solar = 0 MW, Hydro = 500 MW, LLS",3011,MINE_G,5,228.63,900.0,671.37
4,"Solar = 0 MW, Hydro = 500 MW, RLS",3011,MINE_G,5,253.61,900.0,646.39
5,"Solar = 0 MW, Hydro = 500 MW, HLS",3011,MINE_G,5,274.61,900.0,625.39
6,"Solar = 0 MW, Hydro = 600 MW, LLS",3011,MINE_G,5,229.29,900.0,670.71
7,"Solar = 0 MW, Hydro = 600 MW, RLS",3011,MINE_G,5,253.77,900.0,646.23
8,"Solar = 0 MW, Hydro = 600 MW, HLS",3011,MINE_G,5,274.36,900.0,625.64
9,"Solar = 50 MW, Hydro = 400 MW, LLS",3011,MINE_G,5,227.90,900.0,672.10
10,"Solar = 50 MW, Hydro = 400 MW, RLS",3011,MINE_G,5,253.38,900.0,646.62
11,"Solar = 50 MW, Hydro = 400 MW, HLS",3011,MINE_G,5,274.06,900.0,625.94
12,"Solar = 50 MW, Hydro = 500 MW, LLS",3011,MINE_G,5,228.50,900.0,671.50
13,"Solar = 50 MW, Hydro = 500 MW, RLS",3011,MINE_G,5,253.50,900.0,646.50
14,"Solar = 50 MW, Hydro = 500 MW, HLS",3011,MINE_G,5,274.52,900.0,625.48
15,"Solar = 50 MW, Hydro = 600 MW, LLS",3011,MINE_G,5,229.15,900.0,670.85
16,"Solar = 50 MW, Hydro = 600 MW, RLS",3011,MINE_G,5,253.64,900.0,646.36
17,"Solar = 50 MW, Hydro = 600 MW, HLS",3011,MINE_G,5,274.13,900.0,625.87
18,"Solar = 100 MW, Hydro = 400 MW, LLS",3011,MINE_G,5,227.78,900.0,672.22
19,"Solar = 100 MW, Hydro = 400 MW, RLS",3011,MINE_G,5,253.28,900.0,646.72
20,"Solar = 100 MW, Hydro = 400 MW, HLS",3011,MINE_G,5,273.89,900.0,626.11
21,"Solar = 100 MW, Hydro = 500 MW, LLS",3011,MINE_G,5,228.37,900.0,671.63
22,"Solar = 100 MW, Hydro = 500 MW, RLS",3011,MINE_G,5,253.39,900.0,646.61
23,"Solar = 100 MW, Hydro = 500 MW, HLS",3011,MINE_G,5,274.32,900.0,625.68
24,"Solar = 100 MW, Hydro = 600 MW, LLS",3011,MINE_G,5,229.01,900.0,670.99
25,"Solar = 100 MW, Hydro = 600 MW, RLS",3011,MINE_G,5,253.52,900.0,646.48
26,"Solar = 100 MW, Hydro = 600 MW, HLS",3011,MINE_G,5,273.93,900.0,626.07

In [14]:
gen_contribution('CATDOG_G')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, Hydro = 400 MW, LLS",3018,CATDOG_G,5,90.0,117.0,27.0
1,"Solar = 0 MW, Hydro = 400 MW, RLS",3018,CATDOG_G,5,90.0,117.0,27.0
2,"Solar = 0 MW, Hydro = 400 MW, HLS",3018,CATDOG_G,5,90.0,117.0,27.0
3,"Solar = 0 MW, Hydro = 500 MW, LLS",3018,CATDOG_G,5,90.0,117.0,27.0
4,"Solar = 0 MW, Hydro = 500 MW, RLS",3018,CATDOG_G,5,90.0,117.0,27.0
5,"Solar = 0 MW, Hydro = 500 MW, HLS",3018,CATDOG_G,5,90.0,117.0,27.0
6,"Solar = 0 MW, Hydro = 600 MW, LLS",3018,CATDOG_G,5,90.0,117.0,27.0
7,"Solar = 0 MW, Hydro = 600 MW, RLS",3018,CATDOG_G,5,90.0,117.0,27.0
8,"Solar = 0 MW, Hydro = 600 MW, HLS",3018,CATDOG_G,5,90.0,117.0,27.0
9,"Solar = 50 MW, Hydro = 400 MW, LLS",3018,CATDOG_G,5,90.0,117.0,27.0
10,"Solar = 50 MW, Hydro = 400 MW, RLS",3018,CATDOG_G,5,90.0,117.0,27.0
11,"Solar = 50 MW, Hydro = 400 MW, HLS",3018,CATDOG_G,5,90.0,117.0,27.0
12,"Solar = 50 MW, Hydro = 500 MW, LLS",3018,CATDOG_G,5,90.0,117.0,27.0
13,"Solar = 50 MW, Hydro = 500 MW, RLS",3018,CATDOG_G,5,90.0,117.0,27.0
14,"Solar = 50 MW, Hydro = 500 MW, HLS",3018,CATDOG_G,5,90.0,117.0,27.0
15,"Solar = 50 MW, Hydro = 600 MW, LLS",3018,CATDOG_G,5,90.0,117.0,27.0
16,"Solar = 50 MW, Hydro = 600 MW, RLS",3018,CATDOG_G,5,90.0,117.0,27.0
17,"Solar = 50 MW, Hydro = 600 MW, HLS",3018,CATDOG_G,5,90.0,117.0,27.0
18,"Solar = 100 MW, Hydro = 400 MW, LLS",3018,CATDOG_G,5,90.0,117.0,27.0
19,"Solar = 100 MW, Hydro = 400 MW, RLS",3018,CATDOG_G,5,90.0,117.0,27.0
20,"Solar = 100 MW, Hydro = 400 MW, HLS",3018,CATDOG_G,5,90.0,117.0,27.0
21,"Solar = 100 MW, Hydro = 500 MW, LLS",3018,CATDOG_G,5,90.0,117.0,27.0
22,"Solar = 100 MW, Hydro = 500 MW, RLS",3018,CATDOG_G,5,90.0,117.0,27.0
23,"Solar = 100 MW, Hydro = 500 MW, HLS",3018,CATDOG_G,5,90.0,117.0,27.0
24,"Solar = 100 MW, Hydro = 600 MW, LLS",3018,CATDOG_G,5,90.0,117.0,27.0
25,"Solar = 100 MW, Hydro = 600 MW, RLS",3018,CATDOG_G,5,90.0,117.0,27.0
26,"Solar = 100 MW, Hydro = 600 MW, HLS",3018,CATDOG_G,5,90.0,117.0,27.0

##### Firm and Non-firm Installed Capacity

In [15]:
firm_capacity = gen_contribution('NUC-A').loc[0,'Pmax'] + gen_contribution('NUC-B').loc[0,'Pmax'] +\
          gen_contribution('HYDRO_G').loc[0,'Pmax'] + gen_contribution('HYDRO_G').loc[0,'Pmax'] + gen_contribution('URBGEN').loc[0,'Pmax'] +\
          gen_contribution('MINE_G').loc[0,'Pmax'] + gen_contribution('CATDOG_G').loc[0,'Pmax'] 
firm_capacity

4769.5

In [16]:
non_firm_capacity = gen_contribution('SOLAR_PV').loc[0,'Pmax']
non_firm_capacity

117.0

##### Load distribution of the three studied Load scenarios

In [17]:
def data_lsc(data_excel, year,strg):
    data = pd.read_excel(data_excel)
    pload = 'Pload-Y'+str(year)+strg
    qload = 'Qload-Y'+str(year)+strg
    data_fil = data[['Load','ID',pload,qload]]
    return data_fil

##### Low Load Scenario

In [18]:
data_lls = data_lsc('lls.xlsx',3,'L')
data_lls

   Load  ID  Pload-Y3L  Qload-Y3L
0   153   1    185.549     92.820
1   154   1    556.738    417.690
2   154   2    371.098    324.870
3   203   1    278.278    139.230
4   205   1   1113.385    649.740
5  3005   1     92.729     46.410
6  3007   1    185.549     69.615
7  3008   1    185.549     69.615

In [19]:
total_load = data_lls['Pload-Y3L'].sum().round(2)
total_load

2968.88

##### Reference Load Scenario

In [20]:
data_rls = data_lsc('rls.xlsx',3,'R')
data_rls

   Load  ID  Pload-Y3R  Qload-Y3R
0   153   1    195.744      97.92
1   154   1    587.328     440.64
2   154   2    391.488     342.72
3   203   1    293.568     146.88
4   205   1   1174.560     685.44
5  3005   1     97.824      48.96
6  3007   1    195.744      73.44
7  3008   1    195.744      73.44

In [21]:
total_load = data_rls['Pload-Y3R'].sum()
total_load

3132.0

##### High Load Scenario

In [22]:
data_hls = data_lsc('hls.xlsx',3,'H')
data_hls

   Load  ID  Pload-Y3H  Qload-Y3H
0   153   1      203.9      102.0
1   154   1      611.8      459.0
2   154   2      407.8      357.0
3   203   1      305.8      153.0
4   205   1     1223.5      714.0
5  3005   1      101.9       51.0
6  3007   1      203.9       76.5
7  3008   1      203.9       76.5

In [23]:
total_load = data_hls['Pload-Y3H'].sum()
total_load

3262.5

##### Conclusion


Year 3 Topology 4 Analysis was carried out to determine the following:
1. Generation and load totals for each scenario by area
2. Contribution of each of the generators to considered load scenarios
3. Firm and non-firm capacity contributions of installed resources
4. Total load for the three scenarios