### Year 4 Topology 5 Analysis

In Year 4, Topology 5, there is a wind farm coming online in area 5 with all 3 forecasted load scenarios expected to increase. Wind being an intermittent resource and output being depended on wind gust, it does not add to the firm capacity of the system. 

In this work, analysis of system totals by area, generator contributions to each scenario, and load scenarios are conducted.

In [1]:
import pandas as pd

In [2]:
def area_select(area_name):
    '''
    function to select area data by area name
    '''
    list_area = []
    list_gens = [0,50,100]
    list_lsc = ['LLS','RLS','HLS']
    list_gen_hydro = [400,500,600] #dry, average, wet hydological scenarios
    list_gen_wind = [0,40,75] # for 3 wind gust scenarios
    for gen in list_gens:
        for gen_hy in list_gen_hydro:
            for gen_wi in list_gen_wind:
                for lsc in list_lsc:
                    file_csv_in = 'totals/'+'savnw_sol_' + str(gen) +'_hy_' +str(gen_hy) +  '_wi_' + str(gen_wi) + '_' + str(lsc)+'_tot.csv'
                    data_tot = pd.read_csv(file_csv_in)
                    data_tot['Scenario'] = 'Solar = ' + str(gen) + ' MW, ' + 'Hydro = ' + str(gen_hy) + ' MW, ' + 'Wind = ' + str(gen_wi) + ' MW, '  + lsc.upper()
                    data_area = data_tot[data_tot['Area'].str.strip() == area_name]
                    list_area.append(data_area)
    df_area = pd.concat(list_area)
    df = df_area[['Scenario','Area', 'Number', 'From Generation', 'To Load', 'To(+)/From(-) Ties',
           'To Losses']].reset_index(drop=True)
    return df

##### Area Selection

Filtering out totals for each scenarios by area

In [3]:
area_select('FLAPCO')

,Scenario,Area,Number,From Generation,To Load,To(+)/From(-) Ties,To Losses
0,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, LLS",FLAPCO,1,1436,1169,248,19
1,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, RLS",FLAPCO,1,1504,1233,250,20
2,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, HLS",FLAPCO,1,1556,1284,249,22
3,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, LLS",FLAPCO,1,1437,1169,249,19
4,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, RLS",FLAPCO,1,1504,1233,250,20
...,...,...,...,...,...,...,...
76,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, RLS",FLAPCO,1,1506,1233,250,22
77,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, HLS",FLAPCO,1,1559,1284,249,24
78,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, LLS",FLAPCO,1,1439,1169,249,21
79,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, RLS",FLAPCO,1,1506,1233,250,22
80,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, HLS",FLAPCO,1,1559,1284,249,24

In [4]:
area_select('LIGHTCO')

,Scenario,Area,Number,From Generation,To Load,To(+)/From(-) Ties,To Losses
0,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, LLS",LIGHTCO,2,1393,1461,-99,31
1,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, RLS",LIGHTCO,2,1474,1541,-100,33
2,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, HLS",LIGHTCO,2,1544,1605,-98,36
3,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, LLS",LIGHTCO,2,1392,1461,-99,31
4,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, RLS",LIGHTCO,2,1474,1541,-100,33
...,...,...,...,...,...,...,...
76,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, RLS",LIGHTCO,2,1487,1541,-98,45
77,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, HLS",LIGHTCO,2,1555,1605,-98,48
78,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, LLS",LIGHTCO,2,1403,1461,-100,42
79,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, RLS",LIGHTCO,2,1487,1541,-98,45
80,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, HLS",LIGHTCO,2,1555,1605,-98,48

In [5]:
area_select('WORLD')

,Scenario,Area,Number,From Generation,To Load,To(+)/From(-) Ties,To Losses
0,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, LLS",WORLD,5,341,487,-149,4
1,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, RLS",WORLD,5,368,513,-150,4
2,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, HLS",WORLD,5,389,535,-151,5
3,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, LLS",WORLD,5,341,487,-149,4
4,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, RLS",WORLD,5,368,513,-150,4
...,...,...,...,...,...,...,...
76,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, RLS",WORLD,5,367,513,-151,5
77,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, HLS",WORLD,5,390,535,-151,6
78,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, LLS",WORLD,5,343,487,-149,5
79,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, RLS",WORLD,5,368,513,-151,6
80,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, HLS",WORLD,5,391,535,-151,7

##### Total generation and Load

In [6]:
list_scenario = []
list_gen = []
list_load = []
list_gens = [0,50,100]
list_lsc = ['LLS','RLS','HLS']
list_gen_hydro = [400,500,600] #dry, average, wet hydological scenarios
list_gen_wind = [0,40,75] # for 3 wind gust scenarios
for gen in list_gens:
    for gen_hy in list_gen_hydro:
        for gen_wi in list_gen_wind:
            for lsc in list_lsc:
                file_csv_out = 'totals/'+'savnw_sol_' + str(gen) +'_hy_' +str(gen_hy) +  '_wi_' + str(gen_wi) + '_' + str(lsc)+'_tot.csv'
                data_tot = pd.read_csv(file_csv_out)
                data_gen_load = pd.DataFrame()
                scenario = 'Solar = ' + str(gen) + ' MW, ' + 'Hydro = ' + str(gen_hy) + ' MW, ' + 'Wind = ' + str(gen_wi) + ' MW, '  + lsc.upper()
                list_scenario.append(scenario)
                generation = data_tot['From Generation'].sum()
                list_gen.append(generation)
                load = data_tot['To Load'].sum()
                list_load.append(load)
gen_load_dict = {'Scenario':list_scenario, 
                 'Generation':list_gen,
                 'Load':list_load}
data_gen_load = pd.DataFrame(data=gen_load_dict)
data_gen_load

                                             Scenario  Generation  Load
0      Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, LLS        3170  3117
1      Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, RLS        3346  3287
2      Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, HLS        3489  3424
3     Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, LLS        3170  3117
4     Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, RLS        3346  3287
..                                                ...         ...   ...
76  Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, RLS        3360  3287
77  Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, HLS        3504  3424
78  Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, LLS        3185  3117
79  Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, RLS        3361  3287
80  Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, HLS        3505  3424

[81 rows x 3 columns]

##### Breakdown of generation of each generators

The generators in the hypothetical SAVNW system are 'NUC-A', 'NUC-B', 'SOLAR_PV', 'URBGEN', 'HYDRO_G', 'MINE_G', 'CATDOG_G'. The generators NUC-A, URBGEN and MINE_G are the swing buses of areas 1, 2, 5 respectively. The contribution of each of the generators to considered load scenarios are obtained.

In [7]:
def gen_contribution(name):
    '''
    Function to separate contribution of each generators to meet the demand in 
    various solar outputs and load scenarios
    '''
    list_gen = []
    list_gens = [0,50,100]
    list_lsc = ['LLS','RLS','HLS']
    list_gen_hydro = [400,500,600] #dry, average, wet hydological scenarios
    list_gen_wind = [0,40,75] # for 3 wind gust scenarios
    for gen in list_gens:
        for gen_hy in list_gen_hydro:
            for lsc in list_lsc:
                for gen_wi in list_gen_wind:
                    file_csv_out = 'generation/'+'savnw_sol_' + str(gen) +'_hy_' +str(gen_hy) +'_wi_' + str(gen_wi) +'_' + str(lsc)+'_gen.csv'
                    data_gen = pd.read_csv(file_csv_out, header=1, skiprows=0)
                    data_gen['Scenario'] = 'Solar = ' + str(gen) + ' MW, ' + 'Hydro = ' + str(gen_hy) + ' MW, ' + 'Wind = ' + str(gen_wi) + ' MW, '  + lsc.upper()
                    data_new = data_gen[(data_gen['Name'].str.strip()) == name]
                    list_gen.append(data_new)   
    df_area = pd.concat(list_gen)
    df = df_area[['Scenario','Number', 'Name', 'Area', 'Pgen', 'Pmax', 'Reserve']].reset_index(drop=True)
    return df

In [8]:
gen_contribution('NUC-A')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, LLS",101,NUC-A,1,736.81,810.0,73.19
1,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, LLS",101,NUC-A,1,737.96,810.0,72.04
2,"Solar = 0 MW, Hydro = 400 MW, Wind = 75 MW, LLS",101,NUC-A,1,738.03,810.0,71.97
3,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, RLS",101,NUC-A,1,804.13,810.0,5.87
4,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, RLS",101,NUC-A,1,804.23,810.0,5.77
...,...,...,...,...,...,...,...
76,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, RLS",101,NUC-A,1,706.17,810.0,103.83
77,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, RLS",101,NUC-A,1,706.25,810.0,103.75
78,"Solar = 100 MW, Hydro = 600 MW, Wind = 0 MW, HLS",101,NUC-A,1,758.98,810.0,51.02
79,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, HLS",101,NUC-A,1,759.10,810.0,50.90
80,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, HLS",101,NUC-A,1,759.20,810.0,50.80

In [9]:
gen_contribution('NUC-B')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, LLS",102,NUC-B,1,700.0,810.0,110.0
1,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, LLS",102,NUC-B,1,700.0,810.0,110.0
2,"Solar = 0 MW, Hydro = 400 MW, Wind = 75 MW, LLS",102,NUC-B,1,700.0,810.0,110.0
3,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, RLS",102,NUC-B,1,700.0,810.0,110.0
4,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, RLS",102,NUC-B,1,700.0,810.0,110.0
...,...,...,...,...,...,...,...
76,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, RLS",102,NUC-B,1,700.0,810.0,110.0
77,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, RLS",102,NUC-B,1,700.0,810.0,110.0
78,"Solar = 100 MW, Hydro = 600 MW, Wind = 0 MW, HLS",102,NUC-B,1,700.0,810.0,110.0
79,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, HLS",102,NUC-B,1,700.0,810.0,110.0
80,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, HLS",102,NUC-B,1,700.0,810.0,110.0

The reserve capacity obtained with solar power plant is not dependable capacity, and hence wont contribute to firm capacity of the system.

In [10]:
gen_contribution('SOLAR_PV')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, LLS",103,SOLAR_PV,1,0.0,117.0,117.0
1,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, LLS",103,SOLAR_PV,1,0.0,117.0,117.0
2,"Solar = 0 MW, Hydro = 400 MW, Wind = 75 MW, LLS",103,SOLAR_PV,1,0.0,117.0,117.0
3,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, RLS",103,SOLAR_PV,1,0.0,117.0,117.0
4,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, RLS",103,SOLAR_PV,1,0.0,117.0,117.0
...,...,...,...,...,...,...,...
76,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, RLS",103,SOLAR_PV,1,100.0,117.0,17.0
77,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, RLS",103,SOLAR_PV,1,100.0,117.0,17.0
78,"Solar = 100 MW, Hydro = 600 MW, Wind = 0 MW, HLS",103,SOLAR_PV,1,100.0,117.0,17.0
79,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, HLS",103,SOLAR_PV,1,100.0,117.0,17.0
80,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, HLS",103,SOLAR_PV,1,100.0,117.0,17.0

In [11]:
gen_contribution('URBGEN')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, LLS",206,URBGEN,2,593.24,900.0,306.76
1,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, LLS",206,URBGEN,2,592.71,900.0,307.29
2,"Solar = 0 MW, Hydro = 400 MW, Wind = 75 MW, LLS",206,URBGEN,2,592.76,900.0,307.24
3,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, RLS",206,URBGEN,2,674.79,900.0,225.21
4,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, RLS",206,URBGEN,2,674.81,900.0,225.19
...,...,...,...,...,...,...,...
76,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, RLS",206,URBGEN,2,287.90,900.0,612.10
77,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, RLS",206,URBGEN,2,287.94,900.0,612.06
78,"Solar = 100 MW, Hydro = 600 MW, Wind = 0 MW, HLS",206,URBGEN,2,355.74,900.0,544.26
79,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, HLS",206,URBGEN,2,355.73,900.0,544.27
80,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, HLS",206,URBGEN,2,355.81,900.0,544.19

In [12]:
gen_contribution('HYDRO_G')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, LLS",211,HYDRO_G,2,400.0,616.25,216.25
1,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, LLS",211,HYDRO_G,2,400.0,616.25,216.25
2,"Solar = 0 MW, Hydro = 400 MW, Wind = 75 MW, LLS",211,HYDRO_G,2,400.0,616.25,216.25
3,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, RLS",211,HYDRO_G,2,400.0,616.25,216.25
4,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, RLS",211,HYDRO_G,2,400.0,616.25,216.25
...,...,...,...,...,...,...,...
76,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, RLS",211,HYDRO_G,2,600.0,616.25,16.25
77,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, RLS",211,HYDRO_G,2,600.0,616.25,16.25
78,"Solar = 100 MW, Hydro = 600 MW, Wind = 0 MW, HLS",211,HYDRO_G,2,600.0,616.25,16.25
79,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, HLS",211,HYDRO_G,2,600.0,616.25,16.25
80,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, HLS",211,HYDRO_G,2,600.0,616.25,16.25

In [13]:
gen_contribution('MINE_G')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, LLS",3011,MINE_G,5,251.93,900.0,648.07
1,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, LLS",3011,MINE_G,5,211.58,900.0,688.42
2,"Solar = 0 MW, Hydro = 400 MW, Wind = 75 MW, LLS",3011,MINE_G,5,177.37,900.0,722.63
3,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, RLS",3011,MINE_G,5,278.54,900.0,621.46
4,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, RLS",3011,MINE_G,5,238.58,900.0,661.42
...,...,...,...,...,...,...,...
76,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, RLS",3011,MINE_G,5,237.90,900.0,662.10
77,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, RLS",3011,MINE_G,5,203.73,900.0,696.27
78,"Solar = 100 MW, Hydro = 600 MW, Wind = 0 MW, HLS",3011,MINE_G,5,300.39,900.0,599.61
79,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, HLS",3011,MINE_G,5,260.44,900.0,639.56
80,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, HLS",3011,MINE_G,5,226.25,900.0,673.75

In [14]:
gen_contribution('CATDOG_G')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, LLS",3018,CATDOG_G,5,90.0,117.0,27.0
1,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, LLS",3018,CATDOG_G,5,90.0,117.0,27.0
2,"Solar = 0 MW, Hydro = 400 MW, Wind = 75 MW, LLS",3018,CATDOG_G,5,90.0,117.0,27.0
3,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, RLS",3018,CATDOG_G,5,90.0,117.0,27.0
4,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, RLS",3018,CATDOG_G,5,90.0,117.0,27.0
...,...,...,...,...,...,...,...
76,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, RLS",3018,CATDOG_G,5,90.0,117.0,27.0
77,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, RLS",3018,CATDOG_G,5,90.0,117.0,27.0
78,"Solar = 100 MW, Hydro = 600 MW, Wind = 0 MW, HLS",3018,CATDOG_G,5,90.0,117.0,27.0
79,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, HLS",3018,CATDOG_G,5,90.0,117.0,27.0
80,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, HLS",3018,CATDOG_G,5,90.0,117.0,27.0

In [15]:
gen_contribution('WIND')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, LLS",3010,WIND,5,0.0,80.0,80.0
1,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, LLS",3010,WIND,5,40.0,80.0,40.0
2,"Solar = 0 MW, Hydro = 400 MW, Wind = 75 MW, LLS",3010,WIND,5,75.0,80.0,5.0
3,"Solar = 0 MW, Hydro = 400 MW, Wind = 0 MW, RLS",3010,WIND,5,0.0,80.0,80.0
4,"Solar = 0 MW, Hydro = 400 MW, Wind = 40 MW, RLS",3010,WIND,5,40.0,80.0,40.0
...,...,...,...,...,...,...,...
76,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, RLS",3010,WIND,5,40.0,80.0,40.0
77,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, RLS",3010,WIND,5,75.0,80.0,5.0
78,"Solar = 100 MW, Hydro = 600 MW, Wind = 0 MW, HLS",3010,WIND,5,0.0,80.0,80.0
79,"Solar = 100 MW, Hydro = 600 MW, Wind = 40 MW, HLS",3010,WIND,5,40.0,80.0,40.0
80,"Solar = 100 MW, Hydro = 600 MW, Wind = 75 MW, HLS",3010,WIND,5,75.0,80.0,5.0

##### Firm and Non-firm Installed Capacity

In [16]:
firm_capacity = gen_contribution('NUC-A').loc[0,'Pmax'] + gen_contribution('NUC-B').loc[0,'Pmax'] +\
          gen_contribution('HYDRO_G').loc[0,'Pmax'] + gen_contribution('HYDRO_G').loc[0,'Pmax'] + gen_contribution('URBGEN').loc[0,'Pmax'] +\
          gen_contribution('MINE_G').loc[0,'Pmax'] + gen_contribution('CATDOG_G').loc[0,'Pmax'] 
firm_capacity

4769.5

In [17]:
non_firm_capacity = gen_contribution('SOLAR_PV').loc[0,'Pmax'] + gen_contribution('WIND').loc[0,'Pmax']
non_firm_capacity

197.0

##### Load distribution of the three studied Load scenarios

In [18]:
def data_lsc(data_excel, year,strg):
    data = pd.read_excel(data_excel)
    pload = 'Pload-Y'+str(year)+strg
    qload = 'Qload-Y'+str(year)+strg
    data_fil = data[['Load','ID',pload,qload]]
    return data_fil

##### Low Load Scenario

In [19]:
data_lls = data_lsc('lls.xlsx',4,'L')
data_lls

   Load  ID   Pload-Y4L  Qload-Y4L
0   153   1   194.82645   97.46100
1   154   1   584.57490  438.57450
2   154   2   389.65290  341.11350
3   203   1   292.19190  146.19150
4   205   1  1169.05425  682.22700
5  3005   1    97.36545   48.73050
6  3007   1   194.82645   73.09575
7  3008   1   194.82645   73.09575

In [20]:
total_load = data_lls['Pload-Y4L'].sum().round(2)
total_load

3117.32

##### Reference Load Scenario

In [21]:
data_rls = data_lsc('rls.xlsx',4,'R')
data_rls

   Load  ID  Pload-Y4R  Qload-Y4R
0   153   1   205.5312    102.816
1   154   1   616.6944    462.672
2   154   2   411.0624    359.856
3   203   1   308.2464    154.224
4   205   1  1233.2880    719.712
5  3005   1   102.7152     51.408
6  3007   1   205.5312     77.112
7  3008   1   205.5312     77.112

In [22]:
total_load = data_rls['Pload-Y4R'].sum().round(2)
total_load

3288.6

##### High Load Scenario

In [23]:
data_hls = data_lsc('hls.xlsx',4,'H')
data_hls

   Load  ID  Pload-Y4H  Qload-Y4H
0   153   1    214.095    107.100
1   154   1    642.390    481.950
2   154   2    428.190    374.850
3   203   1    321.090    160.650
4   205   1   1284.675    749.700
5  3005   1    106.995     53.550
6  3007   1    214.095     80.325
7  3008   1    214.095     80.325

In [24]:
total_load = data_hls['Pload-Y4H'].sum().round(2)
total_load

3425.62

##### Conclusion

Year 1 Toplogy Analysis was carried out for 3 solar outputs and 3 load scenarios - High Load Scenario, Low Load Scenario and Reference Load Scenario and determined 
1. generation and load totals for each scenarios by area
2. contribution of each of the generators to considered load scenarios
3. firm and non-firm capacity contributions of installed resources
4. total load for the three scenarios