### Year 1 Topology Analysis

In year 1 the solar farm in Area 1 is operational. As solar is an intermittent resource, the generation from it is not constant. In this analysis, for various solar irradiances and forecasted load scenarios, area totals and corresponding load and generations are obtained by conducting load flow in PSSE.

In [1]:
import pandas as pd

In [2]:
def area_select(area_name):
    '''
    function to select area data by area name
    '''
    list_area = []
    list_gens = [0,50,100]
    list_lsc = ['lls','rls','hls']
    for gen in list_gens:
        for lsc in list_lsc:
            file_csv_in = 'savnw_sol_' + str(gen) +'_'+ lsc + '_tot.csv'
            data_tot = C
            data_tot['Scenario'] = 'Solar = ' + str(gen) + ' MW, ' + lsc.upper()
            data_area = data_tot[data_tot['Area'].str.strip() == area_name]
            list_area.append(data_area)
    df_area = pd.concat(list_area)
    df = df_area[['Scenario','Area', 'Number', 'From Generation', 'To Load', 'To(+)/From(-) Ties',
           'To Losses']].reset_index(drop=True)
    return df

##### Area Selection

Filtering out totals for each scenarios by area

In [3]:
area_select('FLAPCO')

,Scenario,Area,Number,From Generation,To Load,To(+)/From(-) Ties,To Losses
0,"Solar = 0 MW, LLS",FLAPCO,1,1266,1002,249,14
1,"Solar = 0 MW, RLS",FLAPCO,1,1325,1057,252,15
2,"Solar = 0 MW, HLS",FLAPCO,1,1369,1101,251,16
3,"Solar = 50 MW, LLS",FLAPCO,1,1265,1002,249,13
4,"Solar = 50 MW, RLS",FLAPCO,1,1324,1057,252,14
5,"Solar = 50 MW, HLS",FLAPCO,1,1368,1101,251,15
6,"Solar = 100 MW, LLS",FLAPCO,1,1264,1002,249,13
7,"Solar = 100 MW, RLS",FLAPCO,1,1323,1057,252,14
8,"Solar = 100 MW, HLS",FLAPCO,1,1367,1101,251,14

In [4]:
area_select('LIGHTCO')

,Scenario,Area,Number,From Generation,To Load,To(+)/From(-) Ties,To Losses
0,"Solar = 0 MW, LLS",LIGHTCO,2,1173,1252,-99,20
1,"Solar = 0 MW, RLS",LIGHTCO,2,1243,1321,-100,22
2,"Solar = 0 MW, HLS",LIGHTCO,2,1299,1376,-100,23
3,"Solar = 50 MW, LLS",LIGHTCO,2,1172,1252,-99,19
4,"Solar = 50 MW, RLS",LIGHTCO,2,1242,1321,-100,21
5,"Solar = 50 MW, HLS",LIGHTCO,2,1298,1376,-100,22
6,"Solar = 100 MW, LLS",LIGHTCO,2,1171,1252,-99,18
7,"Solar = 100 MW, RLS",LIGHTCO,2,1241,1321,-100,20
8,"Solar = 100 MW, HLS",LIGHTCO,2,1297,1376,-100,21

In [5]:
area_select('WORLD')

,Scenario,Area,Number,From Generation,To Load,To(+)/From(-) Ties,To Losses
0,"Solar = 0 MW, LLS",WORLD,5,271,417,-150,3
1,"Solar = 0 MW, RLS",WORLD,5,292,440,-151,4
2,"Solar = 0 MW, HLS",WORLD,5,312,458,-151,4
3,"Solar = 50 MW, LLS",WORLD,5,271,417,-150,3
4,"Solar = 50 MW, RLS",WORLD,5,292,440,-151,4
5,"Solar = 50 MW, HLS",WORLD,5,311,458,-151,4
6,"Solar = 100 MW, LLS",WORLD,5,271,417,-149,3
7,"Solar = 100 MW, RLS",WORLD,5,292,440,-152,4
8,"Solar = 100 MW, HLS",WORLD,5,311,458,-151,4

##### Total generation and Load

In [6]:
list_scenario = []
list_gen = []
list_load = []
list_gens = [0,50,100]
list_lsc = ['lls','rls','hls']
for gen in list_gens:
    for lsc in list_lsc:
        file_csv_in = 'savnw_sol_' + str(gen) +'_'+ lsc + '_tot.csv'
        data_tot = pd.read_csv(file_csv_in)
        data_gen_load = pd.DataFrame()
        scenario = 'Solar = ' + str(gen) + ' MW, ' + lsc.upper()
        list_scenario.append(scenario)
        generation = data_tot['From Generation'].sum()
        list_gen.append(generation)
        load = data_tot['To Load'].sum()
        list_load.append(load)
gen_load_dict = {'Scenario':list_scenario, 
                 'Generation':list_gen,
                 'Load':list_load}
data_gen_load = pd.DataFrame(data=gen_load_dict)
data_gen_load

              Scenario  Generation  Load
0    Solar = 0 MW, LLS        2710  2671
1    Solar = 0 MW, RLS        2860  2818
2    Solar = 0 MW, HLS        2980  2935
3   Solar = 50 MW, LLS        2708  2671
4   Solar = 50 MW, RLS        2858  2818
5   Solar = 50 MW, HLS        2977  2935
6  Solar = 100 MW, LLS        2706  2671
7  Solar = 100 MW, RLS        2856  2818
8  Solar = 100 MW, HLS        2975  2935

##### Breakdown of generation of each generators

The generators in the hypothetical SAVNW system are 'NUC-A', 'NUC-B', 'SOLAR_PV', 'URBGEN', 'HYDRO_G', 'MINE_G', 'CATDOG_G'. The generators NUC-A, URBGEN and MINE_G are the swing buses of areas 1, 2, 5 respectively. The contribution of each of the generators to considered load scenarios are obtained.

In [ ]:
def gen_contribution(name):
    '''
    Function to separate contribution of each generators to meet the demand in 
    various solar outputs and load scenarios
    '''
    list_gen = []
    list_gens = [0,50,100]
    list_lsc = ['lls','rls','hls']
    for gen in list_gens:
        for lsc in list_lsc:
            file_csv_in = 'savnw_sol_' + str(gen) +'_'+ lsc + '_gen.csv'
            data_gen = pd.read_csv(file_csv_in, header=1, skiprows=0)
            data_gen['Scenario'] = 'Solar = ' + str(gen) + ' MW, ' + lsc.upper()
            data_new = data_gen[(data_gen['Name'].str.strip()) == name]
            list_gen.append(data_new)
           
    df_area = pd.concat(list_gen)
    df = df_area[['Scenario','Number', 'Name', 'Area', 'Pgen', 'Pmax', 'Reserve']].reset_index(drop=True)
    return df

In [36]:
gen_contribution('NUC-A')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, LLS",101,NUC-A,1,566.23,810.0,243.77
1,"Solar = 0 MW, RLS",101,NUC-A,1,625.14,810.0,184.86
2,"Solar = 0 MW, HLS",101,NUC-A,1,669.51,810.0,140.49
3,"Solar = 50 MW, LLS",101,NUC-A,1,515.35,810.0,294.65
4,"Solar = 50 MW, RLS",101,NUC-A,1,574.18,810.0,235.82
5,"Solar = 50 MW, HLS",101,NUC-A,1,618.49,810.0,191.51
6,"Solar = 100 MW, LLS",101,NUC-A,1,464.85,810.0,345.15
7,"Solar = 100 MW, RLS",101,NUC-A,1,523.27,810.0,286.73
8,"Solar = 100 MW, HLS",101,NUC-A,1,567.54,810.0,242.46

In [19]:
gen_contribution('NUC-B')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, LLS",102,NUC-B,1,700.0,810.0,110.0
1,"Solar = 0 MW, RLS",102,NUC-B,1,700.0,810.0,110.0
2,"Solar = 0 MW, HLS",102,NUC-B,1,700.0,810.0,110.0
3,"Solar = 50 MW, LLS",102,NUC-B,1,700.0,810.0,110.0
4,"Solar = 50 MW, RLS",102,NUC-B,1,700.0,810.0,110.0
5,"Solar = 50 MW, HLS",102,NUC-B,1,700.0,810.0,110.0
6,"Solar = 100 MW, LLS",102,NUC-B,1,700.0,810.0,110.0
7,"Solar = 100 MW, RLS",102,NUC-B,1,700.0,810.0,110.0
8,"Solar = 100 MW, HLS",102,NUC-B,1,700.0,810.0,110.0

The reserve capacity obtained with solar power plant is not dependable capacity, and hence wont contribute to firm capacity of the system.

In [20]:
gen_contribution('SOLAR_PV')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, LLS",103,SOLAR_PV,1,0.0,117.0,117.0
1,"Solar = 0 MW, RLS",103,SOLAR_PV,1,0.0,117.0,117.0
2,"Solar = 0 MW, HLS",103,SOLAR_PV,1,0.0,117.0,117.0
3,"Solar = 50 MW, LLS",103,SOLAR_PV,1,50.0,117.0,67.0
4,"Solar = 50 MW, RLS",103,SOLAR_PV,1,50.0,117.0,67.0
5,"Solar = 50 MW, HLS",103,SOLAR_PV,1,50.0,117.0,67.0
6,"Solar = 100 MW, LLS",103,SOLAR_PV,1,100.0,117.0,17.0
7,"Solar = 100 MW, RLS",103,SOLAR_PV,1,100.0,117.0,17.0
8,"Solar = 100 MW, HLS",103,SOLAR_PV,1,100.0,117.0,17.0

In [21]:
gen_contribution('URBGEN')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, LLS",206,URBGEN,2,673.84,900.0,226.16
1,"Solar = 0 MW, RLS",206,URBGEN,2,743.16,900.0,156.84
2,"Solar = 0 MW, HLS",206,URBGEN,2,799.35,900.0,100.65
3,"Solar = 50 MW, LLS",206,URBGEN,2,672.81,900.0,227.19
4,"Solar = 50 MW, RLS",206,URBGEN,2,742.18,900.0,157.82
5,"Solar = 50 MW, HLS",206,URBGEN,2,798.31,900.0,101.69
6,"Solar = 100 MW, LLS",206,URBGEN,2,671.37,900.0,228.63
7,"Solar = 100 MW, RLS",206,URBGEN,2,741.26,900.0,158.74
8,"Solar = 100 MW, HLS",206,URBGEN,2,797.33,900.0,102.67

In [38]:
gen_contribution('HYDRO_G')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, LLS",211,HYDRO_G,2,500.0,616.25,116.25
1,"Solar = 0 MW, RLS",211,HYDRO_G,2,500.0,616.25,116.25
2,"Solar = 0 MW, HLS",211,HYDRO_G,2,500.0,616.25,116.25
3,"Solar = 50 MW, LLS",211,HYDRO_G,2,500.0,616.25,116.25
4,"Solar = 50 MW, RLS",211,HYDRO_G,2,500.0,616.25,116.25
5,"Solar = 50 MW, HLS",211,HYDRO_G,2,500.0,616.25,116.25
6,"Solar = 100 MW, LLS",211,HYDRO_G,2,500.0,616.25,116.25
7,"Solar = 100 MW, RLS",211,HYDRO_G,2,500.0,616.25,116.25
8,"Solar = 100 MW, HLS",211,HYDRO_G,2,500.0,616.25,116.25

In [22]:
gen_contribution('MINE_G')

,Scenario,Number,Name,Area,Pgen,Pmax,Reserve
0,"Solar = 0 MW, LLS",3011,MINE_G,5,181.34,900.0,718.66
1,"Solar = 0 MW, RLS",3011,MINE_G,5,202.86,900.0,697.14
2,"Solar = 0 MW, HLS",3011,MINE_G,5,222.23,900.0,677.77
3,"Solar = 50 MW, LLS",3011,MINE_G,5,181.18,900.0,718.82
4,"Solar = 50 MW, RLS",3011,MINE_G,5,202.60,900.0,697.40
5,"Solar = 50 MW, HLS",3011,MINE_G,5,221.98,900.0,678.02
6,"Solar = 100 MW, LLS",3011,MINE_G,5,181.21,900.0,718.79
7,"Solar = 100 MW, RLS",3011,MINE_G,5,202.36,900.0,697.64
8,"Solar = 100 MW, HLS",3011,MINE_G,5,221.76,900.0,678.24

In [23]:
gen_contribution('CATDOG_G')

              Scenario  Number                Name  Area  Pgen   Pmax  Reserve
0    Solar = 0 MW, LLS    3018        CATDOG_G         5  90.0  117.0     27.0
1    Solar = 0 MW, RLS    3018        CATDOG_G         5  90.0  117.0     27.0
2    Solar = 0 MW, HLS    3018        CATDOG_G         5  90.0  117.0     27.0
3   Solar = 50 MW, LLS    3018        CATDOG_G         5  90.0  117.0     27.0
4   Solar = 50 MW, RLS    3018        CATDOG_G         5  90.0  117.0     27.0
5   Solar = 50 MW, HLS    3018        CATDOG_G         5  90.0  117.0     27.0
6  Solar = 100 MW, LLS    3018        CATDOG_G         5  90.0  117.0     27.0
7  Solar = 100 MW, RLS    3018        CATDOG_G         5  90.0  117.0     27.0
8  Solar = 100 MW, HLS    3018        CATDOG_G         5  90.0  117.0     27.0

##### Firm and Non-firm Installed Capacity

In [42]:
firm_capacity = gen_contribution('NUC-A').loc[0,'Pmax'] + gen_contribution('NUC-B').loc[0,'Pmax'] +\
          gen_contribution('HYDRO_G').loc[0,'Pmax'] + gen_contribution('URBGEN').loc[0,'Pmax'] +\
          gen_contribution('MINE_G').loc[0,'Pmax'] + gen_contribution('CATDOG_G').loc[0,'Pmax'] 
firm_capacity

4153.25

In [45]:
non_firm_capacity = gen_contribution('SOLAR_PV').loc[0,'Pmax']
non_firm_capacity

117.0

##### Load distribution of the three studied Load scenarios

In [27]:
def data_lsc(data_excel, year,strg):
    data = pd.read_excel(data_excel)
    pload = 'Pload-Y'+str(year)+strg
    qload = 'Qload-Y'+str(year)+strg
    data_fil = data[['Load','ID',pload,qload]]
    return data_fil

##### Low Load Scenario

In [28]:
data_lls = data_lsc('lls.xlsx',1,'L')
data_lls

   Load  ID  Pload-Y1L  Qload-Y1L
0   153   1   166.9941    83.5380
1   154   1   501.0642   375.9210
2   154   2   333.9882   292.3830
3   203   1   250.4502   125.3070
4   205   1  1002.0465   584.7660
5  3005   1    83.4561    41.7690
6  3007   1   166.9941    62.6535
7  3008   1   166.9941    62.6535

In [31]:
total_load = data_lls['Pload-Y1L'].sum()
total_load

2671.9875

##### Reference Load Scenario

In [29]:
data_rls = data_lsc('rls.xlsx',1,'R')
data_rls

   Load  ID  Pload-Y1R  Qload-Y1R
0   153   1   176.1696     88.128
1   154   1   528.5952    396.576
2   154   2   352.3392    308.448
3   203   1   264.2112    132.192
4   205   1  1057.1040    616.896
5  3005   1    88.0416     44.064
6  3007   1   176.1696     66.096
7  3008   1   176.1696     66.096

In [32]:
total_load = data_rls['Pload-Y1R'].sum()
total_load

2818.8

##### High Load Scenario

In [30]:
data_hls = data_lsc('hls.xlsx',1,'H')
data_hls

   Load  ID  Pload-Y1H  Qload-Y1H
0   153   1     183.51      91.80
1   154   1     550.62     413.10
2   154   2     367.02     321.30
3   203   1     275.22     137.70
4   205   1    1101.15     642.60
5  3005   1      91.71      45.90
6  3007   1     183.51      68.85
7  3008   1     183.51      68.85

In [34]:
total_load = data_hls['Pload-Y1H'].sum()
total_load

2936.25

##### Conclusion

Year 1 Toplogy Analysis was carried out for 3 solar outputs and 3 load scenarios - High Load Scenario, Low Load Scenario and Reference Load Scenario and determined 
1. generation and load totals for each scenarios by area
2. contribution of each of the generators to considered load scenarios
3. firm and non-firm capacity contributions of installed resources
4. total load for the three scenarios